:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --lightgray: #f7f7f7;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--nitro-pink);
  color: var(--graphite);
  padding: 1.7rem;
}

.header__logo-link {
  display: flex;
  text-decoration: none;
  color: var(--graphite);
}

.header__logo {
  width: 4.2rem;
}

.header__title {
  font-weight: 300;
  font-size: 4.2rem;
  margin: 0;
}

.header__nav {
  width: 25%;
}

.header__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  padding: 2.23rem 0 0 0;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: var(--graphite);
  font-size: 1.7rem;
  font-weight: 600;
}

.header__link--highlighted {
  color: var(--nitro-blue);
}
