:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --lightgray: #f7f7f7;
}

/* hero */

.hero {
  background-color: var(--nitro-pink);
}

.hero__title {
  font-size: 5rem;
  font-weight: 300;
  margin: 3rem 0;
}

.hero__description {
  font-size: 1.5rem;
}

.hero__image {
  height: 67vh;
  margin-left: 15.5rem;
}

.main__button:hover {
  cursor: pointer;
}

/* main */

.main__title {
  font-weight: 300;
  font-size: 4rem;
}

.main__button {
  display: block;
  background-color: var(--nitro-blue);
  color: white;
  padding: 1.25rem 3rem;
  border: none;
  font-size: 1.8rem;
}

.main__button--hero {
  margin-top: -3rem;
}

/* products-gallery */

.products-gallery {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

/* product */

.product {
  display: flex;
  flex-direction: column;
  width: 21rem;
  height: 31rem;
  padding: 3rem;
  margin: 3rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.313rem 0.563rem -0.063rem rgba(0, 0, 0, 0.25);
}

.product__image {
  align-self: center;
  height: 19rem;
}

.product__title {
  align-self: center;
  font-size: 2.25rem;
  font-weight: 400;
}

.product__price {
  align-self: center;
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--nitro-blue);
  margin: 0;
}

/* discount */

.discount {
  width: 80vw;
  background-color: var(--graphite);
  color: white;
  text-align: center;
}

.discount__description {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 400;
}

.discount__code {
  font-weight: 700;
}

/* footer */

.footer {
  background-color: var(--nitro-pink);
}

.footer__title {
  font-size: 3rem;
  font-weight: 300;
}

.footer__detail {
  font-size: 1.5rem;
}

.footer__detail--bold {
  font-weight: 600;
}

.footer__icon {
  width: 4rem;
}
