:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --lightgray: #f7f7f7;
  --gray: #909090;
}

/* hero */

.hero {
  background-color: var(--nitro-pink);
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  height: 45vh;
  width: 55vw;
  padding-top: 10rem;
  margin-left: 10.7rem;
}

.hero__title {
  font-size: 5rem;
  font-weight: 300;
  margin: 2.3rem 0 0 0;
  color: var(--graphite);
}

.hero__description {
  width: 50%;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  color: var(--graphite);
}

.hero__image {
  padding-top: 3.5rem;
  height: 65vh;
}

/* cta-button */

.cta-button {
  background-color: var(--nitro-blue);
  border: none;
  padding: 0;
  font-size: 1.8rem;
}

.cta-button__content {
  position: relative;
  background-color: transparent;
  border: 3px solid var(--graphite);
  padding: 1.25rem 3rem;
  right: 0.5rem;
  bottom: 0.5rem;
}

.cta-button__link {
  text-decoration: none;
  color: white;
}

.cta-button:hover {
  cursor: pointer;
}

.cta-button--primary {
  display: block;
  margin: 0 auto;
}

/* products */

.products {
  padding: 4.15rem 0;
  background-color: var(--lightgray);
}

.products__title {
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  color: var(--graphite);
  margin: 0;
}

/* product-gallery */

.product-gallery {
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin: 5rem 0;
}

/* product-card */

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 35rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.313rem 0.563rem -0.063rem rgba(0, 0, 0, 0.25);
  background-color: white;
  overflow: hidden;
}

.product-card__image {
  align-self: center;
  margin: 2rem;
  height: 19rem;
}

.product-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  background-color: var(--nitro-pink);
}

.product-card__name {
  color: var(--graphite);
  align-self: center;
  font-size: 2.3rem;
  font-weight: 400;
  margin: 0;
}

.product-card__quantity {
  font-size: 1.3rem;
  margin: 0;
  color: var(--gray);
}

.product-card__price {
  font-size: 2.3rem;
  font-weight: 900;
  color: var(--nitro-blue);
  margin: 0;
}

/* intro */

.intro {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 10vw 0 10vw;
  gap: 20.83vw;
}

.intro__title {
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  color: var(--graphite);
  margin: 0;
}

.intro__content {
  width: 38rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.intro__description {
  margin: 0 0;
  font-size: 1.5rem;
  color: var(--graphite);
}

.intro__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.intro__icon {
  width: 4rem;
}

.intro__image-container {
  height: 26vw;
  width: 26vw;
  background-image: url(../assets/images/coldbrewbackground.png);
  background-size: cover;
  position: relative;
}

.intro__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 7px solid var(--nitro-blue);
  background-color: transparent;
  position: absolute;
  bottom: 1rem;
  right: 1.2rem;
}

.intro__image {
  width: 10vw;
}

/* promo */

.promo {
  width: 80%;
  background-color: white;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 16.1rem 0;
}

.promo__description {
  padding: 2.6rem;
  background-color: var(--graphite);
  margin: 0;
  font-size: 3.7rem;
  font-weight: 400;
}

.promo__code {
  font-weight: 700;
}

/* footer */

.footer {
  background-color: var(--nitro-pink);
  color: var(--graphite);
  padding: 6.25rem 0;
  display: flex;
  justify-content: space-evenly;
  gap: 7vw;
  position: relative;
  overflow: hidden;
}

.footer__image {
  position: absolute;
  width: 10rem;
  opacity: 25%;
}

.footer__image--start {
  left: -3.5em;
  top: 2rem;
}

.footer__image--end{
  right: -4rem;
  bottom: 2rem;
}

.footer__category {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

.footer__info {
  font-size: 1.5rem;
  margin: 0;
  font-style: normal;
}

.footer__info--primary {
  font-weight: 800;
}

.footer__icon {
  width: 4rem;
}
