:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --lightgray: #f7f7f7;
}

li {
  list-style-type: none;
}

/* header */

header h2 {
  font-weight: 400;
  font-size: 2rem;
  color: var(--graphite);
}

h1 {
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  color: white;
  width: 20rem;
  height: 15rem;
  background-color: var(--graphite);
}

/* main */

.hero {
  background-image: url('../assets/images/coffee-circle.jpg');
  background-size: cover;
  background-position: center;
  height: 50rem;
}

main > nav {
  background-color: var(--graphite);
  text-align: center;
}

main > nav a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

main > section {
  color: var(--graphite);
  text-align: center;
  background-color: var(--nitro-pink);
}

#cold-drinks {
  background-color: var(--lightgray);
}

main > section h2 {
  font-weight: 300;
  font-size: 3rem;
}

main > section h3 {
  font-weight: 300;
  font-size: 2rem;
}

.product-description {
  font-style: italic;
  width: 33%;
}

.product-price {
  color: var(--nitro-blue);
  font-weight: 600;
  font-size: 1rem;
}
