:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --lightgray: #f7f7f7;
}

/* header */

.hero__title {
  font-weight: 200;
  font-size: 5rem;
  text-align: center;
  color: white;
  width: 23rem;
  height: 15rem;
  background-color: var(--graphite);
  margin: 0 auto;
}

.hero__background {
  background-image: url('../assets/images/coffee-circle.jpg');
  background-size: cover;
  background-position: center;
  height: 50rem;
}

/* hero */

.hero__nav {
  background-color: var(--graphite);
  text-align: center;
}

.hero__list {
  margin: 0;
}

.hero__item {
  display: inline-block;
  border-left: 5px solid var(--nitro-blue);
  padding-left: 1.6rem;
  margin: 1.5rem 0.7rem;
}

.hero__link {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

/* main */

.main__card {
  color: var(--graphite);
  text-align: center;
  background-color: var(--nitro-pink);
  padding: 2rem 0;
}

.main__card--lightgray-background {
  background-color: var(--lightgray);
}

.main__category {
  font-weight: 300;
  font-size: 5rem;
  margin: 0 0 4rem 0;
}

.main__title {
  font-weight: 300;
  font-size: 2.7rem;
  margin: 2rem 0 0 0;
}

.main__description {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  width: 33%;
  margin: 0 auto;
}

.main__price {
  color: var(--nitro-blue);
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
