:root {
  --nitro-blue: #5bacc3;
  --nitro-pink: #fff0ed;
  --graphite: #393939;
  --lightgray: #f7f7f7;
}

/* hero */

.hero__background {
  background-image: url('../assets/images/coffee-circle.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  align-content: center;
}

.hero__title-box {
  box-sizing: border-box;
  width: 23rem;
  height: 15rem;
  background-color: var(--graphite);
  position: relative;
  margin: 0 auto;
}

.hero__title {
  font-weight: 200;
  font-size: 5rem;
  text-align: center;
  align-content: center;
  color: white;
  width: 23rem;
  height: 15rem;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  border: 6px solid var(--nitro-blue);
  right: 1rem;
  bottom: 1rem;
}

.hero__nav {
  background-color: var(--graphite);
  text-align: center;
}

.hero__list {
  margin: 0;
}

.hero__item {
  display: inline-block;
  border-left: 5px solid var(--nitro-blue);
  padding-left: 1.6rem;
  margin: 1.5rem 0.7rem;
}

.hero__link {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

/* menu */

.menu {
  color: var(--graphite);
}

/* menu-section */

.menu-section {
  background-color: var(--nitro-pink);
  text-align: center;
  padding: 4rem 0;
}

.menu-section--secondary {
  background-color: var(--lightgray);
}

.menu-section__title {
  font-weight: 300;
  font-size: 5rem;
  margin: 0 0 3rem 0;
}

/* menu-item */

.menu-item__title {
  font-weight: 300;
  font-size: 2.8rem;
  margin: 2rem 0 0 0;
}

.menu-item__description {
  font-size: 1.45rem;
  font-weight: 500;
  font-style: italic;
  width: 33%;
  margin: 0 auto;
}

.menu-item__price {
  color: var(--nitro-blue);
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
