@use './variables' as *;
@use './mixins' as *;

body {
  font-family: 'Open Sans';
  font-weight: $font-weight-normal;
  margin: 0;
}

.header {
  background-color: $color-bg-light;
  color: $color-text-dark;

  &__wrapper {
    @include flex-container($justify-content: space-between);
    padding: 1.7rem;
  }

  &__logo-link {
    @include flex-container;
    text-decoration: none;
    color: $color-text-dark;
  }

  &__logo {
    width: 4.2rem;
  }

  &__title {
    @include large-text-style(4.2rem);
  }

  &__ nav {
    width: 35%;
  }

  &__list {
    @include flex-container($justify-content: space-between);
    gap: 4rem;
    list-style-type: none;
    padding: 2.5rem 0 0 0;
    margin: 0;
  }

  &__link {
    @include small-text-style($font-size-md, $font-weight-semibold);
    text-decoration: none;
    vertical-align: center;
  }

  &__link--primary {
    color: $color-primary;
  }
}
