$color-bg-light: #fff0ed;
$color-bg-gray: #f7f7f7;

$color-primary: #5bacc3;
$color-text-dark: #393939;
$color-text-gray: #909090;
$color-text-light: #fff;

$font-size-sm: 1.5rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.3rem;
$font-size-xl: 2.8rem;
$font-size-2xl: 3.7rem;
$font-size-3xl: 4.2rem;
$font-size-4xl: 5rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 800;
